* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    line-height: 1.5;
    text-align: center;
  }
  
  header {
    padding: 45px 15px;
    backface-visibility: hidden;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }

  #landing-title {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  #phrase {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  .landing-header {
    height: 75vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(6, 181, 250, 0.8), 
        rgba(4, 117, 192, 0.8)),
        url('../../images/photo-1553531384-411a247ccd73.jpg');
    background-size: cover;
    background-position: left;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  }

  .btn,
  .btn:visited {
    background-color: #fff;
    color: #777;
    margin-top: 15px;
    padding: 15px 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    border-radius: 100px;
  }

  .btn:hover {
    cursor: pointer;
    transform: translateY(-2.5px);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
  }

  .btn:active {
    transform: translateY(-1px);
  }

  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

