nav {
    position: fixed;
    width: 95%;
    height: 90%;
    padding: 5px 0;
    z-index: 10;
    top: 0;
    margin-block-end: 0 !important;
}

ul {
    margin: 0.5rem auto;
    padding: 0;
    list-style: none;
    display: flex;
    background: none !important;
  }

  #icon {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 1.75rem;
    padding: 0 !important;
  }
  
  li {
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  li a {
    display: block;
    color: #111;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(106, 199, 230);
    border-radius: 8px;
  }

  #title {
    float: left;
  }

  #title a:hover {
    background-color: rgb(106, 199, 230);
    border-radius: 8px;
  }